<div class="container p-20">
  <h2>Procurement List</h2>
  <button class="btn btn-primary mb-3" [routerLink]="['/procurements-create']">Add New Procurement</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Raw Material</th>
      <th>Supplier</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let procurement of procurements; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ procurement.rawMaterial!.name || '-' }}</td>
      <td>{{ procurement.rawMaterialSupplier != null ? procurement.rawMaterialSupplier.companyName : 'N/A' }}</td>
      <td>{{ procurement.procurementDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ procurement.quantity }}</td>
      <td>{{ procurement.unitPrice | currency }}</td>
      <td>{{ procurement.totalPrice | currency }}</td>
      <td>{{ procurement.status }}</td>
      <td>
        <!-- Edit button to navigate to the edit page -->
        <button class="btn btn-primary btn-sm me-2" (click)="onEdit(procurement.id)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="onDelete(procurement.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
