<nav class="navbar navbar-expand-lg  " style="background-color: #0a4275;">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarNavDropdown" style=" justify-content: space-evenly;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reg">New Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Student Information
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngIf="userRole === 'admin' ">
                            <li><a class="dropdown-item" href="/allstu">View All Students</a></li>


                        </ng-container>

                        <ng-container *ngIf="userRole === 'admin' || userRole === 'user'">
                            <li><a class="dropdown-item" href="/addstu">Add New Students</a></li>
                        </ng-container>

                        <li><a class="dropdown-item" href="/exaddstu">Example New Add Students</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Location Information
                    </a>

                    <ng-container *ngIf="userRole === 'admin'">

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/allloc">All Location</a></li>
                            <li><a class="dropdown-item" href="/addloc">Add Location</a></li>

                        </ul>



                    </ng-container>

                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit" style="color: white;">Search</button>
            </form>
            <button class="btn btn-outline-primary" type="submit" routerLink="login">Login</button>
            <button class="btn btn-outline-success" type="submit" routerLink="logout">Logout</button>
        </div>
    </div>
</nav>



<!-- <nav class="navbar" style="background-color: rgb(29, 61, 88);">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="/">Home</a>
        <a class="navbar-brand" style="color: white;" href="/allemployee">All Employee</a>
        <a class="navbar-brand" style="color: white;" href="/allstu">View All Students</a>
        <a class="navbar-brand" style="color: white;" href="/addstu">Add New Students</a>
        <a class="navbar-brand" style="color: white;" href="/exaddstu">Exam Add New Students</a>
        <a class="navbar-brand" style="color: white;" href="/addloc">Add Location</a>
        <a class="navbar-brand" style="color: white;" href="/reg">New Registration</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown link
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</nav> -->




<router-outlet><router-outlet />


    <div class="border rounded-5">

        <section class="p-4 text-center">
            <section class="">
                <!-- Footer -->
                <footer class="text-center text-white" style="background-color: #0a4275;">
                    <!-- Grid container -->
                    <div class="container p-4 pb-0">
                        <!-- Section: CTA -->
                        <section class="">
                            <p class="d-flex justify-content-center align-items-center">
                                <span class="me-3">Register for free</span>
                                <button data-mdb-ripple-init="" type="button" class="btn btn-outline-light btn-rounded">
                                    Sign up!
                                </button>
                            </p>
                        </section>
                        <!-- Section: CTA -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- Footer -->
            </section>
        </section>



        <div class="p-4 text-center border-top mobile-hidden">
            <a class="btn btn-link px-3 collapsed" data-mdb-collapse-init="" href="#example11" role="button"
                aria-expanded="false" aria-controls="example11" data-ripple-color="hsl(0, 0%, 67%)">
                <i class="fas fa-code me-md-2"></i>
                <span class="d-none d-md-inline-block">
                    Show code
                </span>
            </a>


            <a class="btn btn-link px-3 " data-ripple-color="hsl(0, 0%, 67%)">
                <i class="fas fa-file-code me-md-2 pe-none"></i>
                <span class="d-none d-md-inline-block export-to-snippet pe-none">
                    Edit in sandbox
                </span>
            </a>

        </div>


    </div>




    <!-- <title>Login | EMS</title>
<div class="container my-3">
    <div class="container border border-warning rounded px-3 py-5">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control border border-warning" id="exampleInputEmail1"
                    aria-describedby="emailHelp" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control border border-warning" id="exampleInputPassword1" />
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>  -->