/* Global styles */
html, body {
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: visible;
}

header, .sidebar {
  position: relative;
  z-index: 1000;
}


.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050 !important;
  padding: 0 !important;
  background-color: white;
}

/* Ensure custom modal container is properly centered */
.custom-dialog-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;

}

/* Make sure that the container inside the modal is centered */
.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
}


