<div class="container mt-5">
  <h2 class="heading mb-4 text-center">Add New Raw Material</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="hidden" class="form-control" [(ngModel)]="rawMaterial.id" name="id">

    <!-- Name Field -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="rawMaterial.name" name="name" required>
    </div>

    <!-- Unit Field -->
    <div class="form-group">
      <label for="unit">Unit</label>
      <select class="form-control" id="unit" [(ngModel)]="rawMaterial.unit" name="unit" required>
        <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
      </select>
    </div>

    <!-- Quantity Field -->
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" [(ngModel)]="rawMaterial.quantity" name="quantity"
        min="0">
    </div>


    <!-- Image Upload Field -->
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" (change)="onImagePicked($event)" id="image" name="image"
        accept=".png, .jpg, .jpeg">
    </div>

    <!-- Category Field -->
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" [(ngModel)]="rawMaterial.category.id" name="category" required>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>