<div class="dialog-container">
  <h2>Products in Warehouse</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Batch Number</th>
      <th>Manufacturing Date</th>
      <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of prodProducts; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.product.name }}</td>
      <td>{{ product.batchNumber }}</td>
      <td>
        <span class="date">{{ product.completionDate | date: 'yyyy-MM-dd' : '+0600' }}</span>
        <span class="time">{{ product.completionDate | date: 'HH:mm' : '+0600' }}</span>
      </td>
      <td>{{ product.quantity }}</td>
    </tr>
    </tbody>
  </table>
  <button mat-button (click)="closeDialog()">Close</button>
</div>
