<div class="container mt-4">
  <h2>Add New Product</h2>
  <form (ngSubmit)="onSubmit()" *ngIf="product" #productForm="ngForm">
    <input type="hidden" class="form-control" [(ngModel)]="product.id" name="id">

    <div class="form-group">
      <label for="name">Product Name:</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="product.name"
        name="name"
        required
        placeholder="Enter product name">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        class="form-control"
        [(ngModel)]="product.description"
        name="description"
        required
        placeholder="Enter product description"></textarea>
    </div>

    <div class="form-group">
      <label for="image">Product Image:</label>
      <input
        type="file"
        id="image"
        class="form-control"
        (change)="onImagePicked($event)">
    </div>

    <button type="submit" class="btn btn-success">
      {{ product.id ? 'Update Product' : 'Create Product' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="resetForm()">Clear</button>
  </form>

  <!-- Product List Section -->
  <h3 class="mt-4">Product List</h3>

  <div class="row">
    <div *ngFor="let prod of products" class="col-md-4 mb-4">
      <div class="card">
        <img src="http://localhost:8080/images/products/{{ prod.image }}" alt="Image" height="auto"
             width="50px">
        <div class="card-body">
          <h5 class="card-title">{{ prod.name }}</h5>
          <p class="card-text">
            <strong>Description: </strong>{{ prod.description }}
          </p>
          <button class="btn btn-warning btn-sm" (click)="editProduct(prod.id)">Edit</button>
          <button class="btn btn-danger btn-sm ml-2" (click)="deleteProduct(prod.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
