<div class="container">
  <h2>Production Products List</h2>

  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Batch Number</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Warehouse Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of prodProducts">
      <td>{{ product.product.name }}</td>
      <td>{{ product.batchNumber }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.status }}</td>
      <td>
        <span class="date">{{ product.completionDate | date: 'yyyy-MM-dd' : '+0600' }}</span>
        <span class="time">{{ product.completionDate | date: 'HH:mm' : '+0600' }}</span>
      </td>
      <td>
        <span class="date">{{ product.movedToWarehouseDate | date: 'yyyy-MM-dd' : '+0600' }}</span>
        <span class="time">{{ product.movedToWarehouseDate | date: 'HH:mm' : '+0600' }}</span>
      </td>

      <td>
        <!-- Button to mark as completed -->
        <button
          (click)="updateStatus(product.id, ProductionStatus.COMPLETED)"
          class="btn btn-success btn-sm"
          *ngIf="product.status === ProductionStatus.IN_PROGRESS">
          Mark as Completed
        </button>

        <!-- Button to move to warehouse -->
        <button
          (click)="updateStatus(product.id, ProductionStatus.MOVED_TO_WAREHOUSE)"
          class="btn btn-info btn-sm"
          *ngIf="product.status === ProductionStatus.COMPLETED">
          Move to Warehouse
        </button>

        <!-- Status locked message -->
        <span *ngIf="product.status === ProductionStatus.MOVED_TO_WAREHOUSE" class="text-mute">
    Finished
  </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
