<div class="container m-4">
  <div class="row mb-3">
    <div class="col-12 text-end">
      <button class="btn btn-success" [routerLink]="['/rawMaterialCategory']">
        <i class="fa fa-plus"></i> Add New RM Category
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="text-align: start;">
      <h2>Raw Material Categories</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let category of categories; let i = index;">
      <div class="card shadow-sm d-flex flex-column align-items-center">
        <div class="card-body text-center d-flex flex-column align-items-center p-4">
          <div class="icon-box mb-3">
            <i class="fa fa-folder-open fa-2x text-primary"></i>
          </div>
          <h5 class="card-title mb-2">{{ category.name || 'Untitled Category' }}</h5>
          <p class="text-muted mb-4">Category #{{ i + 1 }}</p>
        </div>
        <div class="card-footer w-100 d-flex justify-content-center gap-2">
          <button [routerLink]="['/rawMaterialCategory', category.id]" class="btn btn-outline-primary btn-sm px-3" title="Edit">
            <i class="fa fa-edit"></i> Edit
          </button>
          <button (click)="deleteCategory(category.id)" class="btn btn-outline-danger btn-sm px-3" title="Delete">
            <i class="fa fa-trash"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
