<div class="container">
  <h2>User Profile</h2>
  <div *ngIf="user">
    <p><img src="{{user.photo}}" alt="Profile Pic" class="rounded" width="150" height="150" /></p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Contact Number:</strong> {{ user.contactNumber }}</p>
    <p><strong>Business Name:</strong> {{ user.businessName }}</p>
    <p><strong>Business Address:</strong> {{ user.businessAddress }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>

    <!-- Add more fields as needed -->
  </div>
  <div *ngIf="!user">
    <p>Loading user profile...</p>
  </div>
  
</div>